/* Pizza Emoji Cascading Style Sheet */ 
body {
	background-color: #222222; /*Be sure to also update theme-color on index! */
	}
.pizzaemoji {
	-webkit-align-content: center;
	align-content: center;
	height: 800px;
	}
.links {
	-webkit-align-content: center;
	align-content: center;
	height: 100px;
 		display: block;
		margin-left: auto;
		margin-right: auto;
	}
/* Desktop */
@media (min-width: 1000px) {
	.logo {
		width: 40%;
 		display: block;
		margin-left: auto;
		margin-right: auto;
		}
	.icon {
		width: 40px;
		padding: 20px;
		}
	}
/* Mobile */
@media (max-width: 999px) {
	.logo {
		width: 80%;
 		display: block;
		margin-left: auto;
		margin-right: auto;
		}
	}