/* Pizza Emoji Cascading Style Sheet */ 
body {
	background-color: #222222; /*Be sure to also update theme-color on index! */
}
.pizzaemoji {
/*	justify-content: center;
	align-items: center; */
	align-content: center;
	background-color: inherit;
}
/* Desktop */
@media only screen and (min-width: 500px) {
	.pizzaemoji {
		height: 100%;
	}
	img {
		width: 50%;
	}
}
/* Mobile */
@media only screen and (max-width: 499px) {
	.pizzaemoji {
		height: 100%;
	}
	img {
		width: 80%;
	}
}