/* Pizza Emoji Blog Cascading Style Sheet - /blog/blog.css */
html {
	font-size: 100%;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #DDDDDD;
	background-color: #222222; /* Remember to update theme-color on index! */
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
	counter-reset: fn_counter; /* Creates footnote <sup> counter */
}
header {
	padding: 100px 0;
	text-align: center;
}
#pizzaemoji, #pizzaemoji a:link, #pizzaemoji a:hover, #pizzaemoji a:visited {
	border: 0;
	color: #EEEEEE;
	font-size: 1em;
	line-height: .5;
	text-decoration: none;
}
#logo {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: inherit;
	/*	width in @media */
}
#logo-mini {
    padding: 1em;
	/*	height in @media */
}
#myname {
	text-decoration: none;
}
.byline {
	display: inline-block;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: left;
	padding-top: 2px; /* Puts a little space above border */
	border-top: 3px solid #FF772B;
}
time {
	text-decoration: none;
	font-size: 1rem;
	line-height: 1rem;
	font-weight: 100;
	text-align: left;
}
#title {
	margin: auto;
	width: 100%;
}
#hero {
	display: block;
	padding-top: .5em;
	padding-bottom: 2em;
	margin: auto;
	width: 100%;
}
/* links formatting */
a {
	text-decoration: none;
}
a:link {
	text-decoration: none;
	color: #EEEEEE;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 0 0 2px 0;
}
a:visited {
	text-decoration: none;
	color: #EEEEEE;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 0 0 2px 0;
}
a:hover {
	text-decoration: none;
	color: #EEEEEE;
	border-color: #222222;
}
/* Top navigation and menu */
navheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: #222222;
    border-bottom: 2px solid #333333;
}
navheader a:link, navheader a:visited {
	border: none;
	padding: 0;
	color: #EEEEEE;
	text-decoration: none;
}
.menu-container {
	position: relative;
	display: inline-block;
}
.menu-item {
	background-color: #222222;
	padding: 0.5em;
	font-size: 1.6em;
	cursor: default;
	color: #DDDDDD;
	display: inline-flex;
	align-items: center;
}
.menu-item .chevron-down {
	margin-right: 0.25em;
	color: #FF772B;
	font-size: .75em;
}
.menu-dropdown {
	display: none; /* The dropdown menu (hidden by default) */
	position: absolute;
	top: 100%;
	background-color: #333333;
	border: 1px solid #555555;
	min-width: 300px;
	z-index: 100;
	flex-direction: column;
}
.menu-dropdown-item {
	padding: 0.5em;
	color: #EEEEEE;
	font-size: 1.1em;
	text-decoration: none;
	cursor: default;
}
.menu-dropdown-item .chevron-right {
	margin-right: 0.25em;
	color: #FF772B;
	font-size: 1em;
}
.this-page {
	color: #FF772B;
}
.menu-dropdown-item:hover {
    background-color: #444444; /* highlight menu color */
}
.menu-container:hover .menu-dropdown, .menu-dropdown:hover {
	display: flex; /* Open menu on hover */
}
.intro {
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 500;
	text-align: center;
	padding-bottom: 20px;
	margin: 0 auto;
}
/* Main post formatting */
article {
	margin-top: 300px;
	padding-left: 5px;
	padding-right: 5px;
	margin: auto;
}
.post {
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 2.2rem;
	text-align: left;
	margin: auto;
	/* width in @media */
}
h1 {
	text-decoration: none;
	color: #EEEEEE;
	font-size: 3em;
	line-height: 1.2em;
	font-weight: 900;
	text-align: left;
	word-spacing: .05em;
	text-align: left;
	margin: 0;
}
h2 {
	text-decoration: none;
	font-size: 2em;
	line-height: 1em;
	font-weight: 100;
	text-align: left;
	font-style: italic;
	margin: 0;
}
h3 {
	text-decoration: none;
 	font-size: 1em;
	line-height: 1em;
	font-weight: 600;
	text-align: left;
	padding-top: 1em;
	padding-bottom: .5em;
	margin: 0;
}
blockquote {
	margin: 2em 2em 2em 0em;
	padding: 0 0 0 1.5em;
	border-left: #FF772B 3px solid;
}
/* pullquotes and images */
/* margin: position of element padding: space between element and lines */
.pullquote-left {
	display: inline;
	position: relative;
	text-decoration: none;
	float: left;
	color: #FF772B;
	font-weight: 100;
	line-height: 1.2em;
	font-style: italic;
	word-spacing: 50%;
	text-transform: uppercase;
	border-top: #FF772B 1px solid;
	border-bottom: #FF772B 1px solid;
	padding: 1em 0 1em 0;
	/* width, font-size, text-align, and margin in @media */
}
.pullquote-right {
	display: inline;
	position: relative;
	text-decoration: none;
	float: right;
	color: #FF772B;
	font-weight: 100;
	line-height: 1.2em;
	font-style: italic;
	word-spacing: 50%;
	text-transform: uppercase;
	border-top: #FF772B 1px solid;
	border-bottom: #FF772B 1px solid;
	padding: 1em 0 1em 0;
	/* width, font-size, text-align, and margin in @media */
}
.image-small-left {
	display: inline;
	position: relative;
	float: left;
	text-align: left;
	border-top: #FF772B 1px solid;
	border-bottom: #FF772B 1px solid;
	padding: 15px 0 15px 0;
	/* width and margin in @media */
}
.image-small-right {
	display: inline;
	position: relative;
	float: right;
	text-align: right;
	border-top: #FF772B 1px solid;
	border-bottom: #FF772B 1px solid;
	padding: 15px 0 15px 0;
	/* width and margin in @media */
}
.image-large {
	display: block;
	position: relative;
	margin: 40px auto 0 auto; /* centers, space between image and <p> above */
	width: 90%;
}
.caption {
	text-decoration: none;
	color: #DDDDDD;
	display: block;
	font-size: .8em;
	line-height: 1em;
	font-style: italic;
	text-align: center;
	padding-bottom: 1em;
	margin-left: auto;
	margin-right: auto;	
	width: 85%;
}
/* footnote formatting */
.footnote {
	text-decoration: none;
	font-size: .8em;
	line-height: 1.4em;
	font-weight: 200;
	text-align: left;
	/* padding in @media */
}
sup {
	text-decoration: none;
	color: #FF772B;
	font-size: .7em;
	font-weight: 600;
	line-height: 0; /* removes gap above superscript number */
}
sup::after {
	counter-increment: fn_counter; /* Increments footnote counter */
	content: counter(fn_counter); /* Displays footnote counter */
}
li {
	margin-bottom: 1em;
}
a.fnlink:link, a.fnlink:visited {
	text-decoration: none;
	border-color: #222222;
}
a.fnlink:hover {
	text-decoration: none;
	border-color: #222222;
	cursor: pointer;
}
.divider { /* separates post from footnotes */
	display: block;
	position: relative;
	margin-top: 2em;
	margin-bottom: 2em;
	height: 2px;
	background: #888888;
}
/* spacing, footer, etc formatting */
.spacer {
	text-decoration: none;
	padding: 3em;
}
.posthome {
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 2.2rem;
	text-align: left;
	margin: auto;
	/* width in @media */
}
.spacerhome {
	text-decoration: none;
	padding: 1em;
}
#fourohfour {
	font-size: 2em;
	line-height: 2em;
	text-align: center;
}
#slice {
	height: 1rem;
}
footer {
	color: #EEEEEE;
	font-size: .8em;
	font-weight: 200;
	text-align: center;
	padding-bottom: 1em;
}
/* 2024-10-28-ios-the-apple-intelligence-update */
#appleintelligencegradient {
	background: -webkit-linear-gradient(0deg, #55CBFF 20%, #DF7CFF 40%, #FF796E 60%, #FFAD5B 80%, #FAFF55 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* 2025-02-04-a-brief-history-of-spider-man-in-cinema */
#spideyproverb {
	text-decoration: none;
	color: #EEEEEE;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
	text-align: center;
	padding-top: 2em;
}
/* Desktop */
@media (min-width: 1000px) {
	#logo {
		width: 500px;
	}
	#logo-mini {
		height: 50px;
	}
	.post {
		width: 70%;
	}
	.posthome {
		width: 60%;
	}
	.pullquote-left {
		width: 60%;
		font-size: 1.2em;
		text-align: left;
		margin: 10px 30px 10px -60px;
	}
	.pullquote-right {
		width: 60%;
		font-size: 1.2em;
		text-align: right;
		margin: 10px -60px 10px 30px;
	}
	.image-small-left {
		width: 300px;
		margin: 10px 30px 10px -60px;
	}
	.image-small-right {
		width: 300px;
		margin: 10px -60px 10px 30px;
	}
	.footnote {
		padding-left: 2em;
		padding-right: 3em;
	}
}
/* Mobile */
@media (max-width: 999px) {
	#logo {
		width: 333px;
	}
	#logo-mini {
		height: 30px;
	}
	.post {
		width: 90%;
	}
	.posthome {
		width: 90%;
	}
	.image-small-left {
		width: 200px;
		margin: 10px 10px 10px -10px;
	}
	.image-small-right {
		width: 200px;
		margin: 10px -10px 10px 10px;
	}
	.pullquote-left {
		width: 100%;
		font-size: 1em;
		text-align: left;
		margin-bottom: 1em;
	}
	.pullquote-right {
		width: 100%;
		font-size: 1em;
		text-align: left;
		margin-bottom: 1em;
	}
	.footnote {
		padding-left: 1em;
		padding-right: 1em;
	}
}
