/* Pizza Emoji Cascading Style Sheet */
html {
	}
body {
	font-size: 1em;
	font-family: "Helvetica", "Verdana", "Tahoma", sans-serif;
	color: #DDDDDD;
	background-color: #222222;
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
	}
header {
	padding: 100px 0 100px 0;
	text-align: center;
	}
#pizzaemoji, #pizzaemoji a:link, #pizzaemoji a:hover, #pizzaemoji a:visited {
	border: 0;
	color: #EEEEEE;
	font-size: 1em;
	line-height: .5;
	text-decoration: none;
	}
#logo {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: inherit;
	/*	width size in @media */
	}
#byline {
	font-size: 1em;
	}
article {
	padding-left: 5px;
	padding-right: 5px;
	margin: auto;
	}
.title {
	text-align: left;
	padding-bottom: 30px;
	margin: auto;
	width: 90%;
	}
h1 {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 3em;
	line-height: 1.2em;
	font-weight: 900;
	text-align: left;
	word-spacing: .05em;
	text-align: left;
	margin: 0;
	}
h2 {
	text-decoration: none;
	font-size: 2em;
	line-height: 1em;
	font-weight: 100;
	text-align: left;
	font-style: italic;
	padding-top: .7em;
	padding-bottom: .7em;
	margin: 0;
	}
h3 {
	text-decoration: none;
 	font-size: 1em;
	line-height: 1em;
	font-weight: 600;
	text-align: left;
	padding-top: 1em;
	padding-bottom: .5em;
	margin: 0;
	}
time {
	text-decoration: none;
	font-size: 1em;
	line-height: 1em;
	font-weight: 100;
	text-align: left;
	}
.hero {
	display: block;
	padding-bottom: 1em;
	margin: auto;
	width: 100%;
	}
.post {
	text-decoration: none;
	line-height: 1.6em;
	font-weight: 300;
	text-align: left;
	margin: auto;
	/* width and font-size in @media */
	}
.spacer {
	text-decoration: none;
	padding: 3em;
	}
blockquote {
	margin: 2em 2em 2em 0em;
	padding: 0 0 0 1.5em;
	border-left: #FF772B 3px solid;
	}
hr {
	height: 3px;
	border-width: 0px;
	background-color: #3F3F4F;
	width: 40%;
	}
a {
	text-decoration: none;
	}
a:link {
	text-decoration: none;
	color: #FFFFFF;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 0 0 2px 0;
	}
a:visited {
	text-decoration: none;
	color: #FFFFFF;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 0 0 2px 0;
	}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
	border-color: #222222;
	}
a.footnote {
	text-decoration: none;
	}
sup {
	text-decoration: none;
	font-size: .8em;
	background: #FF772B;
	border: #FF772B 1px solid;
	border-radius: 100px;
	opacity: 50%;
	}
.divider {
	display: block;
	position: relative;
	padding: 3px 0px 0px 0px;
	background: linear-gradient(90deg, #FF772B 15%, #ff0000 60%, #fe0088 100%);
	}
.image-large {
	display: block;
	margin: 40px auto 0 auto; /* centers, space between image and P above */
	width: 90%;
	}
.caption {
	text-decoration: none;
	display: block;
	font-size: .8em;
	font-weight: 300;
	line-height: 1em;
	font-style: italic;
	text-align: center;
	padding-bottom: 1em;
	margin-left: auto;
	margin-right: auto;	
	width: 85%;
	}
.image-small {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	border-top: #FF772B 1px solid;
	border-bottom: #FF772B 1px solid;
	/* width in @media */
	}
.pullquote {
	display: inline;
	text-decoration: none;
	color: #FF772B;
	font-weight: 100;
	line-height: 1.2em;
	font-style: italic;
	word-spacing: 50%;
	text-transform: uppercase;
	border-top: #FF772B 1px solid;
	border-bottom: #FF772B 1px solid;
	/* width and font-size in @media */
	}
.float-left {
	float: left;
	text-align: left;
	padding: 15px 0 15px 0; /* space between element and lines */
	/* margin in @media */
	}
.float-right {
	float: right;
	text-align: right;
	padding: 15px 0 15px 0; /* space between element and lines */
	/* margin in @media */
	}
footer {
	font-size: .8em;
	font-weight: 200;
	text-align: center;
	padding-bottom: 1em;
	}
#fourohfour {
	font-size: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: 300;
	}
/* Desktop */
@media (min-width: 1000px) {
	#logo {
		width: 60%;
		}
	.post {
		width: 70%;
		font-size: 1.5em;
		}
	.image-small {
		width: 300px;
		}
	.pullquote {
		width: 60%;
		font-size: 1.2em;
		}
	.float-left {
		margin: 10px 30px 10px -60px; /* position of element */
		}
	.float-right {
		margin: 10px -60px 10px 30px; /* position of element */
		}
	}
/* Mobile */
@media (max-width: 999px) {
	#logo {
		width: 80%;
		}
	.post {
		width: 90%;
		font-size: 1.2em;
		}
	.image-small {
		width: 200px;
		}
	.pullquote {
		width: 100%;
		font-size: .8em;
		}
	.float-left {
		margin: 10px 10px 10px -10px; /* position of element */
		}
	.float-right {
		margin: 10px -10px 10px 10px; /* position of element */
		}
	}
/* End CSS */