/* Pizza Emoji Apps Cascading Style Sheet - /apps/apps.css */
html {
	font-size: 100%;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
	color: #DDDDDD;
	background-color: #222222; /* Remember to update theme-color on index! */
	margin-right: auto;
	margin-left: auto;
}
a {
	text-decoration: none;
}
a:link {
	text-decoration: none;
	color: #EEEEEE;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 0 0 2px 0;
}
a:visited {
	text-decoration: none;
	color: #EEEEEE;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 0 0 2px 0;
}
a:hover {
	text-decoration: none;
	color: #EEEEEE;
	border-color: #222222;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	border-bottom: 2px solid #333333;
}
#pizzaemoji, #pizzaemoji a:link, #pizzaemoji a:hover, #pizzaemoji a:visited {
	border: 0;
	text-decoration: none;
	font-size: 1em;
	color: #EEEEEE;
	width: auto;
}
#logo {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: inherit;
	/*	width in @media */
}
#logo-mini {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: inherit;
	/*	width in @media */
}
#logo-slice {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: inherit;
	/*	width in @media */
}
nav ul {
	list-style: none;
	display: flex;
	gap: 1.6em;
	margin: 0;
	padding: 0;
}
nav ul li {
	font-size: 1.4em;
}
main {
	max-width: 1200px;
	margin: auto;
}
.app-header {
	text-align: center;
}
#app-icon {
	width: 120px;
    padding: 20px 20px 10px 20px;
	border-radius: 40px;
}
.app-name {
	font-size: 2.4em;
	margin: 0;
	padding: 0;
}
.app-logline {
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 300;
	padding: 1em;
	margin: auto;
	color: #495BEB;
}
.content-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Centers the columns as a group */
	gap: 10px;
	padding-bottom: 2em;
}
.left-column,
.right-column {
	flex: 0 0 400px;  /* Sets each column to a fixed width */
	max-width: 400px;
}
.app-description {
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 2rem;
	text-align: left;
	padding: 0 1em 0 2em; /* padding for mobile, also better aligns desktop */
	margin: auto;
}
.comingSoon	{
	text-decoration: none;
	font-size: 2rem;
	font-weight: 900;
	text-align: center;
	margin: auto;
	padding-top: 1em; /* Give this to download-badge when removed */
	padding-bottom: .3em;
}
.download-badge {
	height: 60px;
/*	padding-top: 2em; Restore after removing comingSoon */
	padding-bottom: 2em;
	display: block;
	margin: 0 auto; /* Center the badge container */   
}
.carousel {
	position: relative;
	overflow: hidden;
	width: 300px;  /* Match the image width */
	margin: 0 auto; /* Center the carousel container */
}
.carousel-image {
	display: none;
	width: 300px; /* Match the carousel */
	margin: 0 auto; /* Center the image container */
}
.carousel-image.active {
	display: block;
}
.carousel-dots {
	text-align: center;
	margin-top: 10px;
}
.dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 50%;
	background-color: #555555;
	cursor: pointer;
}
.dot.active {
	background-color: #495BEB;
}
footer {
	color: #EEEEEE;
	font-size: .8em;
	font-weight: 200;
	text-align: center;
	padding-bottom: 1em;
}
/* Desktop */
@media (min-width: 1000px) {
	#logo {
		height: 60px;
	}
	#logo-mini {
		height: 40px;
	}
	#logo-slice {
		display: none;
	}
	.description {
		font-size: 1.2em;
	}
	.footnote {
		padding-left: 2em;
		padding-right: 3em;
	}
}
/* Mobile */
@media (max-width: 999px) {
	#logo {
		height: 60px;
	}
	#logo-mini {
		display: none;
	}
	#logo-slice {
		height: 50px;
	}
	.description {
		font-size: 1.6em;
	}
	.footnote {
		padding-left: 1em;
		padding-right: 1em;
	}
}
